@use 'colors' as c;
@use 'variables' as v;

.about-hero {
    background-image: url('../../assets/images/about-hero-mobile.jpg');
    text-align: center;
    padding: 3.78rem 2rem;

    h1 {
        @include v.header1;
        color: c.$white;
    }
}

.about {
    margin-top: 4.4rem;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5.4rem;

    h2 {
        @include v.header2;
    }

    p {
        @include v.paragraphs;
        margin: 2rem 0;
    }

}

.mobility .pattern {
    top: 41%;
    left: -2%;
}

.urban-living .pattern{
    top: -2.3%;
    left: -43.8%;
}

.values-section {
    text-align: center;
    padding: 0 2rem;
    margin-top: 5.45rem;

    h3 {
      @include v.header3;
    }

    h4 {
        @include v.header4;
    }

    p {
        margin-top: 1.688rem;
        @include v.paragraphs
    }

    .value {
        margin-top: 3.95rem;
        display: flex;
        flex-direction: column;
        row-gap: 3.5rem;
    }


    .img-container {
        margin-bottom: 3.85rem;

        img {
            border-radius: 50%;
        }
    }
    

    .num {
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: -1.07px;
        line-height: 28px;
        color: c.$darkNavy;
        font-family: "Space Mono", serif;
        background: c.$yellow;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 35%;
        top: 79%;
    }
}

.faq-section {
    margin-top: 9rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    h2 {
        @include v.header2;
        text-align: center;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -1.07px;
        color: c.$darkNavy;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    
    p {
        font-size: .938rem;
        line-height: 25px;
        color: c.$darkNavy;
        margin-top: 1.3rem;
    }
}

.faq {
    padding: 1.195rem 1.644rem;
    background: rgba(242, 245, 249, 1);

    button {
        display: flex;
        align-items: center;
        background: none;
        color: c.$darkNavy;
        font-size: 1.125rem;
        font-weight: 700;
        text-align: left;
        width: 100%;
        letter-spacing: -0.8px;
        justify-content: space-between;

        .text {
            width: 219px;
        }
    }

    .panel {
        padding: 0 .244rem;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
    }
}

.how-faq .faq:not(:last-child),
.safe-driving .faq:not(:last-child) {
    margin-bottom: 1rem;
}

.active {

    img {
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 768px) {
    .about-hero {
        background-image: url('../../assets/images/about-hero-tablet.jpg');
        text-align: left;
        padding: 4.48rem 6rem;

        .img-container-hero {
            position: relative;
            margin-bottom: 0;

            .pattern {
                position: absolute;
                bottom: 0%;
                right: -22%;
            }
        }
    }

    .about {
        padding: 0 6rem;
        margin-top: 9rem;

        .img-container .img-info {
            width: 445px;
            height: 445px;
            margin: 0 auto;
        }

        p {
            margin: 2.5rem 0;
        }
    }

    .mobility {

        .pattern {
            top: 59%;
            left: -11%;
        }

        .pattern-2 {
            position: absolute;
            top: 0%;
            left: 100%;
        }
    }

    .urban-living {

        h2 {
            width: 75%;
            margin: 0 auto;
        }

        .pattern {
            top: -1.3%;
            left: -33.8%;
        }

        .pattern-2 {
            position: absolute;
            top: 0%;
            right: 100%;
        }
    }

    .values-section {
        margin-top: 5rem;
        padding: 0 6rem;

        p {
            width: 83%;
            margin-left: auto;
            margin-right: auto;
        }

        .value {
            margin-top: 6.35rem;
        }

        .img-container {
            margin-bottom: 5.35rem;
        }

        .num {
            left: 41.6%;
            top: 82%;
        }
    }

    .faq-section {
        margin-top: 7rem;
        padding: 0 2rem;
        row-gap: 4rem;

        h4 {
            font-size: 2.5rem;
            line-height: 48px;
            letter-spacing: -1.79px;
        }
    }

    .faq {
        padding: .796rem 2.544rem;
        button {
            font-size: 1.5rem;
            letter-spacing: -1.07px;
            line-height: 28px;

            &:hover {
                border: none;
                color: c.$darkNavy;
            }

            .text {
                width: auto;
            }
        }
        &:hover {
            background-color: c.$lightYellow;
        }
    }

    .how-faq .faq:not(:last-child),
    .safe-driving .faq:not(:last-child) {
    margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .about-hero {
        background-image: url('../../assets/images/about-hero-desktop.jpg');
        padding: 4.48rem 10.3rem;

        .img-container-hero .pattern {
            right: -17.5%;
        }
    }

    .about {
        margin-top: 7.5rem;
        padding: 0 10.3rem;
        row-gap: 7.6rem;

        p {
            margin: 1.5rem 0 0 !important;
        }
    }

    .mobility {
        .pattern {
            left: -29.4%;
        }

        .pattern-2 {
            left: 114%;
        }
    }

    .urban-living {
        h2 {
            margin: 0;
        }

        .pattern {
            top: -0.3%;
            left: -58.8%;
        }

        .pattern-2 {
            right: 114%;
        }
    }

    .values-section {
        margin-top: 7.5rem;
        padding: 0 8.5rem;

        p {
            width: 100%;
        }

        .value {
            flex-direction: row;
            column-gap: 4rem;
        }

        .num {
            left: 36.6%;
        }
    }

    .faq-section {
        margin-top: 7.4rem;
        padding: 0 10.3rem;

        h4 {
            text-align: left;
            margin-bottom: 0;
        }

        .how-faq, .safe-driving {
            display: grid;
            column-gap: 1.875rem;
            grid-template-columns: 1fr 2fr;
        }
    }

    .about-page footer {
        margin-top: 8.25rem;
    }
}