@use 'colors' as c;
@use 'variables' as v;

.locations-hero {
    background: url('../../assets/images/careers-location-hero-mobile.jpg');
    text-align: center;
    padding: 3.78rem 2rem;

    h1 {
        @include v.header1;
        color: c.$white;
    }
}

.locations {
    margin-top: 4.4rem;
    padding: 0 2rem;
    text-align: center;

    .img-container {
        img {
            width: 100%;
        }

        margin-bottom: 2.3rem;
    }

    .cities {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .city {
        background-color: c.$lightYellow;
        padding: 1.375rem 2rem;
    }

    h4 {
        @include v.header4;
    }
}

.inquiry {
    text-align: center;
    padding: 0 2rem;
    margin-top: 4.5rem;

    h3 {
        @include v.header3;
        text-transform: capitalize;
    }

    p {
        @include v.paragraphs;
        margin: 2rem 0;
    }
}

.locations-page footer {
    margin-top: 4.5rem;
}

@media screen and (min-width: 768px) {
  .locations-hero {
    background-image: url('../../assets/images/careers-locations-hero-tablet.jpg');
    text-align: left;
    padding: 4.48rem 6rem;

        .img-container {
            position: relative;
            margin-bottom: 0;

            .pattern {
                position: absolute;
                bottom: 0%;
                right: -22%;
            }
        }
    }

    .locations {
        margin-top: 9rem;
        position: relative;

        .cities {
            position: absolute;
            top: 0%;
        }

        .city {
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 63% 75%, 53% 100%, 42% 75%, 0% 75%);
            background-color: c.$yellow;
            height: 40px;
            width: 120px;
            padding: 0;
        }
        
        .new-york {
            position: absolute;
            top: 135%;
            left: 87%;
        }
        
        .london {
            position: absolute;
            top: 72%;
            left: 208%;
        }

        .jakarta {
            position: absolute;
            top: 426%;
            left: 405%;
        }

        .yokohama {
            position: relative;
            left: 448%;
        }

        h4 {
            font-size: 0.813rem;
        }
    }

    .inquiry {
        padding: 0 6rem;
        margin-top: 3.5rem;

        h3 {
            width: 75%;
            margin: 0 auto;
        }

        p {
            margin: 2.5rem 0;
        }
    }

    .locations-page footer {
        margin-top: 7.5rem;
    }
}