@use 'variables' as v;
@use 'colors' as c;
@use 'fonts';
@use 'about';
@use 'careers';
@use 'locations';

* {
    // removing all margins at the beginning for more control
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}
.tablet, 
.desktop {
    display: none;
}

h1, h2, h3, h4 {
    font-family: "Space Mono", serif;
    margin: 0;
}

body {
    font-family: "Lexend Deca", serif;
}

main {
    overflow-x: hidden;
}

header {
    padding: 1.27rem 2rem;
}

nav {
    display: flex;
    align-items: center;

    .logo {
        margin: 0 auto;
        order: 2;
        img {
            width: 75.5px;
            height: 20px;
        }
    }

    #open-menu {
        align-self: center;
        img {
            width: 1.231rem;
            height: 1rem;
        }
    }

    #close-menu {
        display: none;
    }

    .menu {
      display: block;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 25px;
      background: rgba(51, 58, 68, 1);
      height: 100%;
      overflow: hidden;
      position: fixed;
      width: 0;
      left: 0;
      top: 4rem;
      z-index: 1;
      transition: 1s;
      
      .content {
        padding: 4rem 2rem 1rem;
      }
      
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 0; // removing default style
        }
        
        a, a:visited {
        color: c.$lightGrey;
        text-decoration: none;
        font-family: "Space Mono", serif;
        }

        button {
            margin-top: 21.2rem;
            width: 192px;
        }
    }
}

.hero {
    text-align: center;
    background: url('../../assets/images/home-hero-mobile.jpg');
    padding: 7.2rem 2rem 11.2rem;
    color: c.$white;
    position: relative;

    h1 {
        @include v.header1;
    }

    p {
        margin: 1.5rem 0 2.1rem;
        font-size: .938rem;
        line-height: 25px;
        font-weight: 400;
    }

    .pattern-hero {
        position: absolute;
        left: -83%;
        top: 72.4%;
    }
}

button {
    width: 180px;
    background-color: c.$yellow;
    color: rgba(255, 255, 255, 1);
    outline: none;
    border: none;
    font-family: "Space Mono", serif;
    font-size: .938rem;
    line-height: 25px;
    height: 53px;
}

.how {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
    padding: 0 2rem;
    margin-top: 7.5rem;

    img {
        width: 56px;
        margin-bottom: 1.3rem;
    }

    h4 {
        @include v.header4;
        margin-bottom: 1.5rem;
    }

    p {
        @include v.paragraphs;
    }
}

.information {
    margin-top: 7.45rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 7.4rem;
}

/* styles for the text for ad/about scoot */
.info { // this class is what contatins the text
    text-align: center;

    h3 {
        @include v.header3;
    }

    p {
        margin: 2rem 0;
        @include v.paragraphs;
    }


}

/* styles for the imgs for info/about scoot */
.img-container {
    margin-bottom: 3.4rem;
    position: relative;

    .img-info img {
        width: 100%;
        border-radius: 50%;
    }

    .pattern {
        position: absolute;
    }

}

.telemetry {
    .pattern {
        top: 51.9%;
        left: -1.9%;
        z-index: 1;
    }
}

.city .img-container {
    .pattern {
        top: -2.5%;
        right: 24%;
        z-index: 1;
    }
}

.payments .img-container {
    .pattern {
        top: -0.5%;
        left: 40%;
        z-index: 1;
    }
}

footer {
    margin-top: 7.4rem;
    text-align: center;
    overflow-x: hidden;

    .sign-up {
        background: rgb(73, 85, 103);
        padding: 5.6rem 2rem 5.2rem;
        position: relative;
        h3 {
            @include v.header3;
            color: rgba(255, 255, 255, 1);
            margin: 0 auto 2.5rem;
        }

        .pattern{
            position: absolute;
            top: 50.8%;
            right: -44%;
        }

        .stores {
            display: flex;
            justify-content: center;
            column-gap: 1rem;
            
            .app-store img {
                width: 113.57px;
                height: 40px;
            }

            .play-store img{
                width: 130px;
                height: 40px;
            }
        }
    }

    .footer-nav {
        background: rgba(51, 58, 68, 1);
        padding: 4rem 0 5.5rem;

        .links {
            margin: 2.3rem 0 5.35rem;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                list-style: none;
                padding: 0;
            }

            a, a:visited {
                font-family: "Space Mono", serif;
                color: c.$dimGrey;
                font-size: 0.938rem;
                line-height: 25px;
                text-decoration: none;
            }
        }

        .socials {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            width: 120px;
        }
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    header {
        padding: 1.345rem 2rem;
    }

    nav {
        column-gap: 4.1rem;

        .logo {
            order: 1;
            margin: 0;
            img {
                width: 107.82px;
                height: 28.56px;
            }
        }
        .menu {
            order: 2;
            width: 100%;
            position: static;
            height: auto;
            display: flex;
            background: none;
            
            .content {
                display: flex;
                flex-direction: row;
                padding: 0;
                width: 100%;
            }

            ul {
                flex-direction: row;
                column-gap: 1rem;
                align-items: center;
                column-gap: 2rem;
            }

            a, a:visited {
                color: c.$dimGrey;
                font-size: .938rem;
            }

            button {
                margin: 0;
                margin-left: auto;
                width: 180px;
            }
        } 
    }

    .hero {
        background: url('../../assets/images/home-hero-tablet.jpg');
        padding: 8.6rem 6rem 13.4rem;

        .pattern-hero {
            left: -16.5%;
            top: 71.6%;
        }

        .pattern2-hero {
            position: absolute;
            bottom: 6.8%;
            left: 73.6%;
        }
    }

    .how  {
        text-align: left;
        padding: 0 6rem;
        row-gap: 2.8rem;

        .steps {
            column-gap: 4.938rem;
            display: flex;
        }
        
        img {
            width: 96px;
            height: 96px;
        }
    }

    .information {
        margin-top: 9.15rem;
        padding: 0 6rem;
        gap: 8rem;

        .img-info {
            width: 445px;
            margin: 0 auto;
        }
    }

    .info {
        h3 {
            width: 80%;
            margin: 0 auto;
        }

        p {
            margin: 2.5rem 0;
        }
    }
    
    .telemetry {
        .pattern {
            top: 66.5%;
            left: -11%;
        }

        .pattern-2 {
            position: absolute;
            top: 0%;
            right: -77.4%;
        }
    }

    .city .img-container{
        .pattern {
            top: -0.1%;
            right: 55.2%;
        }

        .pattern-2 {
            position: absolute;
            top: -0.1%;
            right: 99.3%;
        }
    }

    .payments .img-container {
        .pattern {
            top: 16.4%;
            left: 55%;
        }

        .pattern-2 {
            position: absolute;
            top: 0%;
            right: -77.4%;
        }
    }

    footer {
        margin-top: 6.7rem;

        .sign-up {
            padding: 3.9rem 2rem 3.6rem;

            .pattern {
                top: 47.5%;
                right: -21.1%;
            }
        }


        h3 {
            width: 60%;
        }

        .footer-nav {
            display: flex;
            padding: 2rem 2.5rem;

            .links {
                margin: auto;
                ul {
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                }
            }

            .socials {
                margin: 0 0 0 auto;
                align-items: center;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}


.menu-open {
    #open-menu {
        display: none;
    }

    #close-menu {
        display: block;
    }

    .menu {
        width: auto;
    }
}
